<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p>
<H1 align="center"><a th:text="${employee.getFirstname()}"></a> <a th:text="${employee.getLastname}">VALUE</a></H1>


</p>
<TABLE BORDER width="70%" align="center">
    <tr align="center" bgcolor="green" >
        <TD><H2>Firstname</H2></TD>
        <TD><H2>Lastname</H2></TD>
        <TD><H2>Phone</H2></TD>
        <TD><H2>Age</H2></TD>
        <TD><H2>Email</H2></TD>
        <TD><H2>Position</H2></TD>
        <TD><H2>Edit</H2></TD>
        <TD><H2>Delete</H2></TD>

    </tr>
    <tr>
        <td><a th:text="${employee.getFirstname}">VALUE</a></td>
        <td><a th:text="${employee.getLastname}">VALUE</a></td>
        <td><a th:text="${employee.getAge()}">VALUE</a></td>
        <td><a th:text="${employee.getPhone()}">VALUE</a></td>
        <td><a th:text="${employee.getEmail()}">VALUE</a></td>
        <td><a th:text="${employee.getPosition()}">VALUE</a></td>
        <td><a th:href="@{/departments/{depId}/employees/{id}/editEmp(id=${employee.getId()}, depId=${employee.getDepId()})}">Edit</a></td>
        <td><a th:href="@{/departments/{depId}/employees/{id}/delEmp(id=${employee.getId()}, depId=${employee.getDepId()})}">Delete</a></td>
    </tr>
    <tr>
    <td><a th:href="@{/departments/{depId}/employees/showEmp(depId=${employee.getDepId()})}">Back to Employees</a></td>
        <td><button onclick="location.href='/'">Back to Main</button></td>
        <td><button onclick="location.href='/departments'">Back to Departments</button></td>
    </tr>
</TABLE>
</body>
</html>